/venv
sam_vit_b_01ec64.pth
ai_app/pipeline/finetuned
ai_apppipeline/outputs/
pipeline/outputs
pipeline/finetuned
checkpoints_resnet50/checkpoint-3
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
.venv/
venv/
ENV/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
db.sqlite3-journal

# Media / uploads
var/media/
media/

# Static files (can be rebuilt)
staticfiles/


# Django local settings
local_settings.py

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Python packaging
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

# Testing
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# MyPy / type checking
.mypy_cache/
.dmypy.json

# Logs
*.log

# Misc
*.swp


